<div class="modal-form section">
  <p class="modal-title">Contact Us</p>
  <form class="js-speaker-form form">
    <div class="form-lable modal-for-position">
      <input
        class="form-lable-item"
        type="text"
        name="user-name"
        id="name"
        placeholder="Name"
        required
      />
      <label class="form-lable-text" for="name"></label>
    </div>

    <div class="form-lable modal-for-position">
      <input
        class="form-lable-item"
        type="email"
        name="mail"
        id="mail"
        placeholder="Email"
        autocomplete="email"
      />
      <label class="form-lable-text" for="mail"></label>
    </div>
    <div class="form-lable form-lable-coment">
      <textarea
        class="form-lable-coment"
        name="coment"
        id="coment"
        cols="30"
        rows="10"
        placeholder="Message"
        autocomplete="off"
      ></textarea>
      <label class="form-lable-text-comment" for="coment"></label>
    </div>

    <button class="modal-form-btn" type="submit">Send</button>
  </form>
</div>
