<div class="section">
  <div class="footer">
    <div class="footer_Newsletter">
      <ul class="newsletter_list">
        <li class="newsletter_item">Newsletter</li>
        <li class="newsletter_item">
          <input type="text" /><button type="submit">Send</button>
        </li>
      </ul>
    </div>
    <div class="fooret_addaction">
      <p>
        Social casino offers the opportunity to play gambling games without real
        money bets, creating a virtual atmosphere of casino entertainment. The
        age restriction of 21 years ensures safety and protects young users from
        the negative consequences of gambling addiction.
      </p>
    </div>
  </div>
  <div class="footer_policy">
    <ul class="footer_list">
      <li>
        <a href="/src/policy.html" class="page_policy">Privacy Policy</a>
      </li>
      <li>/</li>
      <li><a href="/src/termsOfService.html"> Terms of Service</a></li>
    </ul>
  </div>
</div>
