<header id="header" class="header section">
  <div class="header__container container">
    <div class="img_container"><img src="./images/logo.png" alt="logo" /></div>

    <a href="./index.html" class="header__logo__link" aria-label="Logo"> </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a
            class="nav__link_home"
            href="./index.html"
            aria-label="Link to home page"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a href="">New slots</a>
        </li>
        <li class="nav__item"><a href="">Now Playing</a></li>
        <li class="nav__item"><a href="">Contac us</a></li>
      </ul>
    </nav>
  </div>
</header>
