<header id="header" class="header section">
  <div class="header__container container">
    <div class="img_container">
      <a href=""><img src="./images/logo.png" alt="logo" /></a>
    </div>

    <a href="./index.html" class="header__logo__link" aria-label="Logo"> </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a
            class="nav__link js"
            href="./index.html"
            aria-label="Link to home page"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link js" href="/src/newSlots.html">New slots</a>
        </li>
        <li class="nav__item">
          <a class="nav__link js" href="/src/nowPlaying.html">Now Playing</a>
        </li>
        <li class="nav__item">
          <a class="nav__link js" href="/src/contactUs.html">Contac us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
