<div class="section">
  <div class="hero__container">
    <div class="block__category">
      <h1 class="main-title">
        "Unleash the Social Casino Experience: Play, Connect, and Win Together!"
      </h1>
      <p class="hero__text">
        Discover the world of free and exhilarating social casino slots games
        where you can play, learn, and win without spending a dime! These online
        platforms provide an extensive range of slot games that faithfully
        recreate the thrill of a real casino experience, including video slots,
        3D slots, classic slots, and more. You can easily access these games
        through your browser
      </p>
    </div>

    <div class="block__gallery">
      <!-- <ul class="gallery__home"></ul> -->
    </div>
    <div class="block__books">
      <!-- <ul class="books__home"></ul> -->
    </div>
  </div>
</div>
