<div class="section top_section">
  <h2 class="top__title">NEW SLOTS</h2>
  <ul class="top_list">
    <li>
      <a href="">
        <div class="new_slots_item">
          <img src="/src/images/5.jpeg" alt="picter Green Grocery" />
        </div>
        <h3 class="top_item_title">Green Grocery</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div class="new_slots_item">
          <img src="/src/images/6.jpg" alt="picter Master of Gold" />
        </div>
        <h3 class="top_item_title">Master of Gold</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div class="new_slots_item">
          <img src="/src/images/7.jpeg" alt="picter Legacy of Doom" />
        </div>
        <h3 class="top_item_title">Legacy of Doom</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div class="new_slots_item">
          <img src="/src/images/8.jpg" alt="picter Mummyland Treasures" />
        </div>
        <h3 class="top_item_title">Mummyland Treasures</h3>
      </a>
    </li>
  </ul>
</div>
