<div class="section top_section">
  <h2 class="top__title">NOW PLAYING</h2>
  <ul class="top_list">
    <li>
      <a href="">
        <div class="now_playing_item">
          <img src="/src/images/9.jpg" alt="3x Super Pappers" />
        </div>
        <h3 class="top_item_title">3x Super Pappers</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div class="now_playing_item">
          <img src="/src/images/10.jpg" alt="Ancient Temple Gems" />
        </div>
        <h3 class="top_item_title">Ancient Temple Gems</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div class="now_playing_item">
          <img src="/src/images/11.jpg" alt="picter Wild Fruit Jam" />
        </div>
        <h3 class="top_item_title">Wild Fruit Jam</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div class="now_playing_item">
          <img src="/src/images/12.jpg" alt="picter Witch School" />
        </div>
        <h3 class="top_item_title">Witch School</h3>
      </a>
    </li>
  </ul>
</div>
