<div class="section top_section">
  <h2 class="top__title">TOP GAMES</h2>
  <ul class="top_list">
    <li>
      <a href="">
        <div>
          <img src="/src/images/1.jpg" alt="picter Big Bang" />
        </div>
        <h3 class="top_item_title">Big Bang</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <img src="/src/images/2.jpg" alt="picter Beauty and the Beas" />
        </div>
        <h3 class="top_item_title">Beauty and the Beast</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <img src="/src/images/3.jpg" alt="picter Big Wild Buffalo" />
        </div>
        <h3 class="top_item_title">Big Wild Buffalo</h3>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <img src="/src/images/4.jpg" alt="picter Cleo’s Book" />
        </div>
        <h3 class="top_item_title">Cleo’s Book</h3>
      </a>
    </li>
  </ul>
</div>
