.header__container {
  display: flex;
  justify-content: space-between;
}
.img_container {
  width: 15%;
  // height: 15%;
}
.list {
  display: flex;
  margin-top: 20px;
  gap: 50px;
}
// .nav__item:nth-child(n + 1) {
//   margin-right: 40px;
// }
